.container {
    width: 73%;
    padding-right: 2%;
    padding-left: 5px;
}
.core-keyboard {
    display: grid;
    gap: 0.3vh;
    grid-template-rows: repeat(5, 20%);
}

.core-keyboard > svg {
    display: flex;
}

.core-keyboard > .row-1 {
    display: grid;
    grid-template-columns: repeat(13, 1fr) 2fr;
}
.core-keyboard > .row-2 {
    display: grid;
    grid-template-columns: 1.5fr repeat(12, 1fr) 1.5fr;
}
.core-keyboard > .row-3 {
    display: grid;
    grid-template-columns: 1.6fr repeat(11, 1fr) 2.4fr;
}
.core-keyboard > .row-4 {
    display: grid;
    grid-template-columns: 2.1fr repeat(10, 1fr) 2.9fr;
}
.core-keyboard > .row-5 {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr 6fr 1.5fr 1fr 1fr 1.5fr;
}
