.container {
    display: grid;
    grid-template-columns: 35vw 29vw 29vw;
    align-items: flex-end;
    gap: 2vw;
    max-width: 95vw;
    max-height: 95vh;
}

.space-more {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1vmax;
}

.mouse-nums {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1vmax;
}

.mouse {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    justify-content: center;
}

/* keys */
#space {
    grid-column: 1/4;
    width: 100%;
}

/* mouse */
.mouse-key-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 3fr;
    justify-content: center;
    width: 100%;
    align-items: flex-end;
}

.MMB {
    position: absolute;
    width: 5vw;
    left: 12.1vw;
}

.mouse-bottom-wrapper {
    display: flex;
    position: relative;
}

#mouse-bottom {
    width: 100%;
}

#directional-area {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 10%;
}

#mouse-tracker {
    position: absolute;
    transform-origin: 459.952 275.539;
}
