.container {
    display: grid;
    width: 73%;
    grid-template-columns: 50% 40%;
    align-items: flex-end;
    gap: 2vw;
}

.space-more {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1vmax;
}

.mouse-nums {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1vmax;
}

/* keys */
#space {
    grid-column: 1/4;
    width: 100%;
}


svg {
    display: flex;
    justify-content: center;
    align-items: center;
}
