.container {
    display: grid;
    grid-template-columns: 35vw 29vw;
    align-items: flex-end;
    gap: 2vw;
    max-width: 95vw;
    max-height: 95vh;
}

.space-more {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1vmax;
}

.mouse-nums {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1vmax;
}

.mouse {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    justify-content: center;
}

/* keys */
#space {
    grid-column: 1/4;
    width: 100%;
}


svg {
    display: flex;
    justify-content: center;
    align-items: center;
}
