.mouse {
    width: 0;
    position: relative;
}

.mouse-svg {
    width: 100%;
}

#mouse-arrow {
    width: 33%;
    left: 50%;
    top: 70.08%;
    position: absolute;
    transform-origin: left;
}

#mouse-arrow * {
    fill: var(--stroke-color);
    stroke: var(--stroke-color);
}