.shortcut-only {
    display: flex;
    width: 73%;
    position: relative;
    height: 73vh;
    align-items: flex-end;
}

.shortcut-only > svg  {
    display: none;
    height: 10vh;
    position: absolute;
}

.animation {
    opacity: 0;
    animation: fadeinout 3.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.animation-0 {
    bottom: 0vh;
}
.animation-1 {
    bottom: 11vh;
}
.animation-2 {
    bottom: 22vh;
}
.animation-3 {
    bottom: 33vh;
}
.animation-4 {
    bottom: 44vh;
}

@keyframes fadeinout {
    0% {
        opacity: 0;
    }
    8% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
