.container {
    width: 73%;
    padding-right: 2%;
    padding-left: 5px;
}

.inner-wrapper {
    display: grid;
    gap: 0.5vh;
    grid-template-rows: repeat(4, 25%);
}

.inner-wrapper > svg {
    display: flex;
}


.inner-wrapper > .row-1 {
    display: grid;
    gap: 0.5vh;
    grid-template-columns: 1.3fr repeat(5, 1fr) 1.7fr;
}

.inner-wrapper > .row-2 {
    display: grid;
    gap: 0.5vh;
    grid-template-columns: 1.7fr repeat(4, 1fr) 2.3fr;
}

.inner-wrapper > .row-3 {
    display: grid;
    gap: 0.5vh;
    grid-template-columns: 1.9fr repeat(5, 1fr) 1.1fr;
}

.inner-wrapper > .row-4 {
    display: grid;
    grid-template-columns: 1.8fr 2.5fr 3.7fr;
}
